<%= form_for @post do |post| %> 
	<%= post.hidden_field :user_id, value: current_user.id %> 
	<% if @post.errors.any? %>
	<div>
		<ul> 
			<% @post.errors.full_messages.each do |message| %> 
			<li> <%= message %> </li>
			<% end %>
		</ul>
		</div>
		<% end %> 
	<div>
		<%= post.text_field :title, placeholder: 'Enter Title' %> 
	</div>
	<div>
		<%= post.text_area :body, placeholder: 'Blog Away!' %> 
	</div>
	<div>
		<%= post.submit 'Post' %> 
	</div>
<% end %> 
