<section class="post-show"> 
	<div class="post"> 
	<h2> <%= @post.title %> </h2>
	<h3> posted <%= time_ago_in_words(@post.created_at) %> ago </h3>
	<p> <%= @post.body %>  </p>
	</div>

	<aside> 
		
		<%= image_tag @post.user.avatar(:thumb) %> 
		<p> username </p>
		<div> <p> bio </p> </div>
		<% unless current_user == @post.user %>
			<div>
				<p> <%= link_to 'visit profile', user_path(@post.user) %> </p>
			</div>
		<% else %>
			<div>
				<p> <%= link_to 'edit profile', user_path(current_user) %></p>
			</div>
		<% end %>
		
	</aside>
</section>
 