<header> 
	<h1> TRASHED </h1>
	<ul>

		<li> <%= link_to 'Home', posts_path %> </li>
		<li> <%= link_to 'About', about_path %> </li>
		<li> <%= link_to 'Top 10', '#' %> </li>
		<% if user_signed_in? %>
			<li> <%= link_to 'Sign out', sign_out_path, method: :delete %> </li>
		<% else %> 
			<li> <%= link_to 'Sign in', sign_in_path %> </li>
		<% end %>
	</ul>
</header>